table {
    border: solid 1px blue;
}

th {
    font-weight: bold;
    color: black;

    border-bottom: solid 3px red;
    background: aliceblue;
}

td {
    padding: 10px;

    border: solid 1px gray;
    background: papayawhip;
}
